
body {
	color: #000000;
    margin: 0 auto;
    border: 0;
    padding-top: 6em;
}

.container {
  	padding: 0;
  	text-align: center;
}

.title {
	font-size: 3em;
	letter-spacing: .25em
}

/*.subtitle {
	padding-top: .2em;
	padding-bottom: .5em;
	font-size: 2em;
	color: #B3CCFF;
}*/

ul {
	padding-top: 2em;
	padding-bottom: 1em;
	padding-left: 0;
	padding-right: 0;
	list-style: none;
	/*color: #B3CCFF;*/
    color: #5F6C7A;
}

li {
	padding-top: 1em;
	padding-bottom: 1em;
}

span {
 	font-size: 1.5em;	
 	letter-spacing: .25em
}

p { 
	color: #000000;
    display: none;
    font-size: 1em;
    letter-spacing: ;
    letter-spacing: .15em
}

